
.App {
  text-align: center;
  margin: 20px auto;
  width: 120px;
  border: 1px solid aqua;
  border-radius: 5px;
}
.counter h1 {
  padding: 0;
  margin: 0;
}
.counter {
  padding: 5px;
  background-color: aqua;
  border-radius: 5px;
  margin: 5px;
}
.counter .error {
  color: red;
}

.buttons {
  margin: 5px;
  padding: 5px;
  border: 1px solid aqua;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.buttons .btn {
  background-color: aqua;
  outline: none;
  padding: 0 5px;
  border-radius: 5px;
}